<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
<connectionStrings>
    <add name="Library" connectionString="Server=.;Database=Library;Integrated Security=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
	<appSettings>
		<add key="BackgroundColor" value="#F0F8FF" />
		<add key="TextColor" value="#000000" />
		<add key="ButtonColor" value="#0078D4" />
		<add key="DefaultFontSize" value="12" />
	</appSettings>
</configuration>